.main.footer
  .ui.divider
  .ui.divided.horizontal.footer.link.list
    .item #{packJson.name}
    .item v #{packJson.version}
    .item &copy; #{packJson.author}
    a.item(href='#{packJson.homepage}') Homepage