#nav.main.nav
  .ui.inverted.main.menu
    .container
      .left.menu
        .title.item
          b Startpage
        a.launch.item(href='/')
          i.ui.home.icon
          | Home
        a.launch.item(href='/contact')
          i.ui.mail.icon
          | Contact
      .right.menu
        a.item(href='/info')
          i.ui.info.icon
          | Info