#nav.main.nav
  .ui.inverted.main.menu
    .container
      .left.menu
        .title.item
          b Startpage
        a(class="#{page=='index' ? 'active' : ''} launch item", href='/')
          i.ui.home.icon
          | Home
      .right.menu
        a(class="#{page=='info' ? 'active' : ''} item", href='/info')
          i.ui.info.icon
          | Info