append styles
  link(rel='stylesheet', href='/stylesheets/vendor/normalize-css/normalize.css' + cachebust)
  link(rel='stylesheet', href='/stylesheets/vendor/semantic/semantic.css' + cachebust)
  link(rel='stylesheet', href='/stylesheets/app/style.css' + cachebust)