extends /layouts/default

block title
    title Mimosa &rsaquo; #{page}

append styles
    //link(rel='stylesheet', href='/stylesheets/vendor/todomvc/0.1.4/base.css' + cachebust)

block nav
    include /blocks/nav

block content
    div.content.container
        h1 Some Todos will appear here

block foot
    include /blocks/foot
