extends /layouts/default

block title
  title #{packJson.name} &rsaquo; Contact

block nav
  include /blocks/nav

block content
  #main.main.container
    .ui.grid
      .left.floated.twelve.wide.column
        .ui.segment
          h3.ui.dividing.header
            | Edit DataType
          .ui.ribbon.label
            i.ui.settings.icon
            | Basics
          form.ui.form
            .ui.two.column.grid.row
              .column
                .ui.left.icon.input
                    input#name(type="text", name="DataType.name", placeholder="Name?")
                    i.ui.font.icon
              .column
                .ui.left.icon.input
                    input#label(type="text", name="DataType.label", placeholder="Label?")
                    i.ui.tag.icon
            .ui.one.column.grid.row
                .column
                  .ui.left.icon.input
                    input#label(type="text", name="DataType.placeholder", placeholder="Placeholder?")
                    i.ui.terminal.icon
                .column
                  .ui.left.icon.input
                    input#helptext(type="text", name="DataType.helptext", placeholder="Helptext?")
                    i.ui.help.icon
                .column
                  textarea#description(name="DataType.description", placeholder="Description?")
            .ui.two.column.grid.row
              .column
                .ui.selection.dropdown
                  input#type(type="hidden", name="DataType.type")
                  div.default.text
                    | Type
                  i.dropdown.icon
                  .ui.menu.transition
                    .item(data-value="bool") Boolean
                    .item(data-value="str") String
              .two.wide.column
                .left.floated.ui.checkbox
                  input#required(type="checkbox", name="DataType.required")
                  label(for="required") Required
                .ui.checkbox
                  input#nullable(type="checkbox", name="DataType.nullable")
                  label(for="nullable") Nullable

          .ui.ribbon.label
            i.ui.warning.icon
            | Conditions
          p
            | List of conditions
      .right.floated.four.wide.column
        .ui.segment
          | Right

block load
  include /blocks/load

block foot
  include /blocks/foot
