extends /layouts/default

block title
  title Mimosa &rsaquo; #{page}

block nav
  include /blocks/nav

block content
  div.main.container

block load
  include /blocks/load

block foot
  include /blocks/foot
