extends /layouts/default

block title
  title #{packJson.name} &rsaquo; Home

block nav
  include /blocks/nav

block content
  #main.main.container

block load
  include /blocks/load

block foot
  include /blocks/foot
