extends /layouts/default

block title
    title Mimosa &rsaquo; #{page}

block nav
    include /blocks/nav

block content
    div.content.container
        h1 Some Todos will appear here

block foot
    include /blocks/foot
