/* segment headers */
body > .content > .page > .segment,
body > .segment{
  margin: 0px 0px 3em;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

.main.container{
  padding-bottom: 100px;
  margin-top: 50px;
}

.container{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.main.nav{
}

.main.nav:after{
  clear: both;
}

.main.foot{
  position: fixed;
  bottom: 0px;
  width: 100%;
}