<div class="ui selection dropdown">
  <input type="hidden" name="gender">
  <div class="default text">Sort by</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="id">id</div>
    <div class="item" data-value="title">title</div>
    <div class="item" data-value="state">state</div>
  </div>
</div>