append styles
  link(rel='stylesheet', href='/stylesheets/vendor/uikit/2.0.0/uikit.css' + cachebust)
  link(rel='stylesheet', href='/stylesheets/app/style.css' + cachebust)
  link(rel='stylesheet', href='/stylesheets/vendor/semantic/0.12.4/semantic.css' + cachebust)