doctype html
html
    head
        block head
            block title
            block info
                include /blocks/info
            block styles
                include /blocks/styles
            block scripts
                include /blocks/scripts

    body
        block nav
        block content
        block foot
